@import "card";
@import "header";
@import "stars.scss";
@import "var";

html {
  font-family: Roboto, sans-serif;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
}

body {
  margin: 0;
}

.container {
  display: grid;
  margin: 0 auto;
  max-width: 1024px;

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-gap: 50px;
    justify-content: center;
    margin: 50px 0;
    min-width: 994px;
    width: calc(100% - 80px);
  }
}
